html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Utilidades */
.container {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.bg-header {
  background-image: url("../Assets/img/bg-header-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 18.75em;
}

.bg-navbar {
  background-color: rgba(0, 0, 0, 0.157);
  padding: 1.5em 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-bottom: 1em;
  font-weight: 500;
}
@media (min-width: 768px) {
  .navbar-brand {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.navbar-brand img {
  width: 2em;
}

.navbar-nav {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em;
  border-radius: 0.3em;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.3em;
}

.nav-link:hover {
  background-color: white;
  color: black;
  border-radius: 0.5em;
}
/* Utilidades */
.container {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5em;
  margin: 0 0.1em;
  border-radius: 0.5em;
}

.btn-primary {
  color: white;
  background-color: #214037;
}

.btn-secondary {
  color: white;
  background-color: #77a699;
}

.btn-danger {
  color: white;
  background-color: #a6464e;
}

.btn-info {
  color: black;
  background-color: #e2f2c9;
}

.btn-dark {
  color: white;
  background-color: #2f2e2e;
}

/* MAIN */
.main {
  background-color: white;
  margin-top: -2rem;
  border-radius: 0.3em;
  padding: 0.3em;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .tienda {
    display: flex;
    gap: 1em;
  }
}

/* CARD */
.card {
  background-color: #a6464e;
  color: white;
  overflow: hidden;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.card-img {
  width: 100%;
}

.card-body {
  padding: 1em;
}

.card-body h5 {
  font-size: 1.5rem;
  margin: 1em 0;
  font-weight: 500;
}

.card-body p {
  font-weight: 300;
}
/* NOSOTROS */
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  background-color: #2f2e2e;
}

.nosotros-col-img {
  order: 2;
  background-image: url("../assets/img/nosotros-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
}

@media (min-width: 576px) {
  .nosotros-col-img {
    height: 31.25em;
  }
}

.nosotros-col-text {
  order: 1;
}

@media (min-width: 768px) {
  .nosotros {
    flex-direction: row;
  }
  .nosotros-col-img {
    order: 1;
    flex: 1 1 0;
  }
  .nosotros-col-text {
    order: 2;
    flex: 1 1 0;
  }
}
.nosotros-body {
  padding: 1em;
  text-align: center;
  color: white;
}

.nosotros-body h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.nosotros-body p {
  font-weight: 200;
}
/* FOOTER */
.bg-footer {
  background-color: #214037;
  color: #e2f2c9;
}

.bg-footer p {
  padding: 1em;
  margin: 0;
  text-align: center;
}
